    body{ padding: 2%;}

    /* Utils */
    .clear{ clear: both;}
    .mt-30{margin-top: 30px;}
    .mt-15{margin-top:15px;}
    .mb-30{margin-bottom: 30px;}
    .mb-15{margin-bottom: 15px;}
    .ml-20{margin-left:20px;}

    .light-gray{color: #dddddd;}
    .gray{ color: #999999; }
    .green{ color:#66cc66; }
    .blue{ color:#3399cc; }
    .align-right{text-align: right;}
    /* *** */

    h2{ color: #999999 !important;}
    #monthSelector select{ color: #3399cc !important; padding: 5px 2px; }
    .btn-secondary{ background-color: #3399cc !important; }
    .btn-secondary:hover{ background-color: #2c86b3 !important;}
    #feedback-to-user{display: none;}

    /* Calendar body and cells */
    #calendar{ width: 100%; min-height: 100px; background-color: #f9f9f9; padding: 0px; border: 1px solid #dddddd;}
    .day-of-week{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        border: 0px inset #ffffff;
        border-right: 1px solid #ddd;
        float: left;
        height: 40px;
        background: #f7f7f7;
        width: 14.284%;
        color: #3399cc;
    }
    .bg-gd_{
        background: #f7f7f7; /* Old browsers */
        background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .calendar-cell{
        color: #666;
        font-size: 14px;
        padding: 10px 2px 10px 2px;
        background-color: #fff;
        height: 100px;
        width: 14.284%;
        float: left;
        text-align: center;
        border: 0px solid #ccc;
        border-right:1px solid #ddd;
        border-bottom:1px solid #dddddd ;
    }
    .calendar-cell:hover{ background-color: #eee; border-right: 1px solid #eee;}
    .calendar-cell-app{background-color: #3399cc !important; border-right: 1px solid #3399cc; color: #ffffff !important;}
    .cell-icon{font-size: 30px; text-shadow: 0px 2px 1px rgba(24,75,100,0.3);}
    .prior-month{ background-color: #f7f7f7; color: #999999;}
    .prior-month div{ margin-top: 10px;}
    .prior-month i{ color: #ddd;}
    /* *** */

    /* Appointment Window */
    .app-window{
        background-color: #f7f7f7;
        width: 600px;
        min-height: 300px;
        border-radius: 10px;
        padding: 40px 0px 40px 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -300px;
        z-index:999;
        border: 2px solid #ccc;
        display: none;
        box-shadow: #cccccc 1px 1px 50px;
    }
    #closeAppWindow{font-size: 30px;}
    .app-title{ margin: 80px 0px 30px 0px; padding-bottom: 10px; border-bottom: 5px solid #f3f3f3;}
    /* *** */

    /* Appointments */
    .app-item{border-bottom: 1px solid #dddddd; padding: 20px 0px 20px 0px;}
    .app-item p{margin:0px 0px 6px 0px; font-size: 14px;}
    .app-item h5{ margin: 0px;}
    .app-item-date{ letter-spacing: 0.5px;}
    .edit-app,.delete-app{ color: #999; cursor: pointer;}
    .edit-app:hover{ color: #333; }
    .delete-app:hover{ color: #333;}
    /* *** */