<script type="text/javascript">
    function getTheDay(aText) {

        myDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
        myDate = new Date(eval('"'+aText.value+'"'))
        document.form1.textDay.value = myDays[myDate.getDay()]
    }

</script>

<form name="form1" id="form1" method="post" action="" enctype="text/plain">
    <input type="text" name="textDate" id="textDate" value="25 December, 2000" size="25" maxlength="25" />
    <input type="button" value="Get day of week" onclick="getTheDay(this.form.textDate)" />
    <small>Day of week appears here</small>
    <br />
    <input type="text" name="textDay" VALUE size="25" maxlength="25" />
    <br />
</form>